xsd/monitor_usage.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="view">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="node" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="description"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="node">
    <xs:complexType>
    <xs:sequence>
        <xs:element ref="node" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:int" name="time_ms"/>
      <xs:attribute type="xs:int" name="count"/>
    </xs:complexType>
  </xs:element>
</xs:schema>